@section styles{
    <style>

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #fefefe;
            flex-direction: column;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="text"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
}
@section scripts_head{
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" crossorigin="anonymous"></script>
}
<div id="app">
    <h2 class="h3 mb-3 fw-normal">Cloudflare Turnstile範例</h2>

    <div class="form-floating mb-3">
        <input type="text" id="user" class="form-control">
        <label for="user">User name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" id="pass" class="form-control">
        <label for="pass">Password</label>
    </div>

    <div class="checkbox mb-3">
        <div id="myWidget"></div>
    </div>
    <button class="w-100 btn btn-lg btn-primary" v-on:click="login">Sign in</button>
</div>
@section scripts_body{
    <script>
        function initTurnstile() {
            let vm = this;
            turnstile.ready(function () {
                turnstile.render('#myWidget', {
                    sitekey: '0x4AAAAAAAPGUjEJ-frzVnmP',
                    theme: 'light',
                    size: "normal",
                    appearance: "always",
                    callback: function (token) {
                        // verify(token)
                        // verifyByWorker(token)
                        vm.captcha = true;
                        vm.turnstileToken = token;
                    }
                });
            })
        }
        
        const app = {
            data() {
                return {
                    account:'',
                    password:'',
                    turnstileToken:'',
                    captcha: false
                }
            },
            methods: {
                login:login,
                initTurnstile: initTurnstile,
                verify: verify
            },
            mounted() {
                this.initTurnstile();
            },
        }
        let myApp = Vue.createApp(app);
        myApp.mount("#app");

        function login() {
            if (!this.captcha) {
                alert('請等候身分驗證');
                return
            }
            this.verify();
        }
        function verify() {
            let vm = this;
            let data = { id: vm.turnstileToken }
            axios.post('/api/Validate/ValidateTurnstile', data).then(response => {
                // 處理成功的回應
                alert('登入驗證成功')
            })
                .catch(error => {
                    // 處理錯誤
                    alert('登入驗證失敗')
                });
        }
        function verifyByWorker(token) {
            const url = 'https://worker-summer-bird-5004.tomtang.workers.dev/';
            const formData = new FormData();
            formData.append('cf-turnstile-response', token);
            const response = fetch(url, {
                method: 'POST',
                body: formData,
            }).then((result) => {
                return result.text();
            }).then((text) => {
                console.log(text);
            })
        }
    </script>
}